@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
--font-sans: var(--font-sans);
--font-mono: var(--font-mono);
--color-background: var(--background);
--color-foreground: var(--foreground);
--color-card: var(--card);
--color-card-foreground: var(--card-foreground);
--color-popover: var(--popover);
--color-popover-foreground: var(--popover-foreground);
--color-primary: var(--primary);
--color-primary-foreground: var(--primary-foreground);
--color-secondary: var(--secondary);
--color-secondary-foreground: var(--secondary-foreground);
--color-muted: var(--muted);
--color-muted-foreground: var(--muted-foreground);
--color-accent: var(--accent);
--color-accent-foreground: var(--accent-foreground);
--color-destructive: var(--destructive);
--color-destructive-foreground: var(--destructive-foreground);
--color-border: var(--border);
--color-input: var(--input);
--color-ring: var(--ring);
--color-chart-1: var(--chart-1);
--color-chart-2: var(--chart-2);
--color-chart-3: var(--chart-3);
--color-chart-4: var(--chart-4);
--color-chart-5: var(--chart-5);
--color-sidebar: var(--sidebar);
--color-sidebar-foreground: var(--sidebar-foreground);
--color-sidebar-primary: var(--sidebar-primary);
--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
--color-sidebar-accent: var(--sidebar-accent);
--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
--color-sidebar-border: var(--sidebar-border);
--color-sidebar-ring: var(--sidebar-ring);
--radius-sm: calc(var(--radius) - 4px);
--radius-md: calc(var(--radius) - 2px);
--radius-lg: var(--radius);
--radius-xl: calc(var(--radius) + 4px);
--radius-2xl: calc(var(--radius) + 8px);
--radius-3xl: calc(var(--radius) + 12px);
--radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(1 0 0);
--foreground: oklch(0.196 0.010 257.417);
--card: oklch(1 0 0);
--card-foreground: oklch(0.196 0.010 257.417);
--popover: oklch(1 0 0);
--popover-foreground: oklch(0.196 0.010 257.417);
--primary: oklch(0.534 0.144 253.814);
--primary-foreground: oklch(1 0 0);
--secondary: oklch(0.960 0.005 257.143);
--secondary-foreground: oklch(0.196 0.010 257.417);
--muted: oklch(0.960 0.005 257.143);
--muted-foreground: oklch(0.488 0.015 257.353);
--accent: oklch(0.960 0.005 257.143);
--accent-foreground: oklch(0.196 0.010 257.417);
--destructive: oklch(0.547 0.219 27.370);
--border: oklch(0.828 0.008 257.182);
--input: oklch(0.828 0.008 257.182);
--ring: oklch(0.534 0.144 253.814);
--chart-1: oklch(0.808 0.098 253.534);
--chart-2: oklch(0.673 0.164 253.814);
--chart-3: oklch(0.534 0.144 253.814);
--chart-4: oklch(0.698 0.150 145.294);
--chart-5: oklch(0.609 0.138 145.059);
--radius: 0.375rem;
--sidebar: oklch(0.976 0.004 257.273);
--sidebar-foreground: oklch(0.196 0.010 257.417);
--sidebar-primary: oklch(0.534 0.144 253.814);
--sidebar-primary-foreground: oklch(1 0 0);
--sidebar-accent: oklch(0.960 0.005 257.143);
--sidebar-accent-foreground: oklch(0.196 0.010 257.417);
--sidebar-border: oklch(0.897 0.006 257.217);
--sidebar-ring: oklch(0.534 0.144 253.814);
}

.dark {
  --background: oklch(0.196 0.010 257.417);
--foreground: oklch(1 0 0);
--card: oklch(0.249 0.010 257.500);
--card-foreground: oklch(1 0 0);
--popover: oklch(0.249 0.010 257.500);
--popover-foreground: oklch(1 0 0);
--primary: oklch(0.673 0.164 253.814);
--primary-foreground: oklch(1 0 0);
--secondary: oklch(0.310 0.009 257.308);
--secondary-foreground: oklch(1 0 0);
--muted: oklch(0.310 0.009 257.308);
--muted-foreground: oklch(0.655 0.013 257.273);
--accent: oklch(0.310 0.009 257.308);
--accent-foreground: oklch(1 0 0);
--destructive: oklch(0.619 0.237 27.548);
--border: oklch(1 0 0 / 10%);
--input: oklch(1 0 0 / 15%);
--ring: oklch(0.673 0.164 253.814);
--chart-1: oklch(0.808 0.098 253.534);
--chart-2: oklch(0.673 0.164 253.814);
--chart-3: oklch(0.534 0.144 253.814);
--chart-4: oklch(0.698 0.150 145.294);
--chart-5: oklch(0.609 0.138 145.059);
--sidebar: oklch(0.249 0.010 257.500);
--sidebar-foreground: oklch(1 0 0);
--sidebar-primary: oklch(0.673 0.164 253.814);
--sidebar-primary-foreground: oklch(1 0 0);
--sidebar-accent: oklch(0.310 0.009 257.308);
--sidebar-accent-foreground: oklch(1 0 0);
--sidebar-border: oklch(1 0 0 / 10%);
--sidebar-ring: oklch(0.673 0.164 253.814);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
